ASC_ISSUER_ID=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
ASC_KEY_ID=XXXXXXXXXX
ASC_PRIVATE_KEY_PATH=./asc_private_key.p8

FEISHU_WEBHOOK_URL=https://open.feishu.cn/open-apis/bot/v2/hook/replace-me
FEISHU_SECRET=
FEISHU_KEYWORD=

ASC_API_BASE_URL=https://api.appstoreconnect.apple.com
ASC_APP_IDS=
GPLAY_SERVICE_ACCOUNT_JSON_PATH=./google_play_service_account.json
GPLAY_PACKAGE_NAMES=
STATE_FILE_PATH=./.state/appstore_review_state.json
SEND_GOOGLE_PLAY_SNAPSHOT=false
SANDBOX_MODE=false
